<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- Axios CDN -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- development version, includes helpful console warnings -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
            crossorigin="anonymous" />
        <title>Boolflix</title>
    </head>
    <body>

        <div id="root">

            <header>

                <div>
                    <img src="assets/img/boolflix.png" alt="">
                </div>

                <div>
                    <form @submit.prevent="functionSearch">
                        <input type="text" v-model="search">
                    </form>
                </div>

            </header>

            <main>

                <!-- sezione film -->
                <h2 v-if="totalPageFilms > 0">Film pagina {{pageFilms}} di {{totalPageFilms}}</h2>

                <div class="container">

                    <div class="arrow" @click="prevPageFilms">
                        <i v-if="totalPageFilms > 1" class="fas fa-angle-left"></i>
                    </div>

                    <div class="container_card">

                        <div v-for="film in resultFilms" class="card">

                            <div class="poster" :class="!film.poster_path ? 'bg_black' : ''">
                                <img v-if="film.poster_path" :src="'https://image.tmdb.org/t/p/w342' + film.poster_path" alt="">
                                <h2 v-else>{{film.title}}</h2>
                            </div>

                            <div class="information bg_black">
                                <h3><span>Titolo: </span>{{film.title}}</h3>
                                <h4><span>Titolo originale: </span>{{film.original_title}}</h4>
                                <h5 v-if="!flags.includes(film.original_language)"><span>Lingua originale: </span>{{film.original_language}}</h5>
                                <div>
                                    <span>Voto:</span>
                                    <i :class="film.voteInt > 0 ? 'fas fa-star' : 'far fa-star'"></i>
                                    <i :class="film.voteInt > 1 ? 'fas fa-star' : 'far fa-star'"></i>
                                    <i :class="film.voteInt > 2 ? 'fas fa-star' : 'far fa-star'"></i>
                                    <i :class="film.voteInt > 3 ? 'fas fa-star' : 'far fa-star'"></i>
                                    <i :class="film.voteInt > 4 ? 'fas fa-star' : 'far fa-star'"></i>
                                </div>
                                <p v-if="film.overview"><span>Overview:</span> {{film.overview}}</p>
                                <div>
                                    <img :src="'./assets/img/' + film.original_language + '.png'" alt="">
                                </div>
                            </div>
                            
                        </div>

                    </div>

                    <div class="arrow" @click="nextPageFilms">
                        <i v-if="totalPageFilms > 1" class="fas fa-angle-right"></i>
                    </div>

                </div>
                <!-- //sezione film -->
                

                <!-- sezione serie tv -->

                <h2 v-if="totalPageSerieTV > 0">Serie TV pagina {{pageSerieTV}} di {{totalPageSerieTV}}</h2>
                
                <div class="container">
                
                    <div class="arrow" @click="prevPageSerieTV">
                        <i v-if="totalPageSerieTV > 1" class="fas fa-angle-left"></i>
                    </div>
                
                    <div class="container_card">
                        <div v-for="serie_tv in resultSerieTV" class="card">
                            <img :src="'https://image.tmdb.org/t/p/w342' + serie_tv.poster_path" alt="">
                            <h3>{{serie_tv.name}}</h3>
                            <h4>{{serie_tv.original_name}}</h4>
                            <img :src="'./assets/img/' + serie_tv.original_language + '.png'" alt="">
                            <h5>{{serie_tv.original_language}}</h5>
                            <h5>{{serie_tv.vote_average}}</h5>
                            <div>
                                <i :class="serie_tv.voteInt > 0 ? 'fas fa-star' : 'far fa-star'"></i>
                                <i :class="serie_tv.voteInt > 1 ? 'fas fa-star' : 'far fa-star'"></i>
                                <i :class="serie_tv.voteInt > 2 ? 'fas fa-star' : 'far fa-star'"></i>
                                <i :class="serie_tv.voteInt > 3 ? 'fas fa-star' : 'far fa-star'"></i>
                                <i :class="serie_tv.voteInt > 4 ? 'fas fa-star' : 'far fa-star'"></i>
                            </div>
                        </div>
                    </div>
                
                    <div class="arrow" @click="nextPageSerieTV">
                        <i v-if="totalPageSerieTV > 1" class="fas fa-angle-right"></i>
                    </div>
                
                </div>

                <!-- //sezione serie tv -->                

            </main>

        </div>
        

        <script src="assets/js/main.js"></script>
    </body>
</html>