*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #181818;
}

/*******************
***section header***
*******************/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 0 30px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 3;
}

header img{
    height: 80px;
}

header input{
    width: 260px;
    height: 50px;
    text-indent: 20px;
    font-size: 25px;
    color: white;
    border-radius: 35px;
    border: none;
    background-color: rgba(48 48 48 / 0.6);
    outline: none;
    font-weight: 600;
}

header input::placeholder{
    color: rgb(117, 117, 117);
}

/*******************
///section header///
*******************/

/*****************
***section main*** 
*****************/
main{
    margin-top: 100px;
}

main > h2{
    margin-left: 95px;
    margin-top: 55px;
    padding: 25px 0;
    font-size: 35px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.arrow{
    min-width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding: 0 20px;
    transition: 0.6s linear;
}

.arrow:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.container_card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    padding: 30px 20px;
    width: 342px;
    height: 513px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

.poster{
    position: absolute;
    top: 30px;
    left: 20px;
    height: calc(100% - 60px);
    width: calc(100% - 40px);
    transition: 0.6s linear;
}

.poster > img{
    height: 100%;
    width: 100%;
}

.poster > h2{
    padding: 50px 15px;
    font-size: 40px;
}

.bg_black{
    background-color: black;
}

.poster:hover{
    opacity: 0;
}

.information{
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 15px 10px;
}

.information > p{
    text-overflow: ellipsis;
    max-height: 250px;
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
}

.information > div:last-of-type{
    text-align: center;
}

.information span{
    font-size: 1.3em;
}

.star i{
    color: yellow;
}

.numberPages{
    display: flex;
    justify-content: center;
    align-items: center;
}

.numberPages span{
    padding: 10px;
    font-size: 30px;
}

.numberPages span.click{
    cursor: pointer;
}

.numberPages span.click:hover{
    color: red;
}

.numberPages .page_active{
    font-size: 40px;
    color: red;
    font-weight: 600;
}

/*****************
///section main/// 
*****************/
